<?xml version="1.0" encoding="UTF-8"?>
<theme>
    <formatVersion>7</formatVersion>
    <view name="menu">
        <menuBackground name="menubg">
            <color>${menuBackgroundColor}</color>
            <selectorColor>${menuSelectorColor}</selectorColor>
            <cornerSize>20 20</cornerSize>
        </menuBackground>
        <menuText name="menutitle">
            <fontPath>./_inc/fonts/Gilroy-Bold.ttf</fontPath>
            <fontSize>0.034</fontSize>
            <color>${menuTitleColor}</color>
        </menuText>
        <menuGroup name="menugroup">
            <fontPath>./_inc/fonts/Gilroy-Regular.ttf</fontPath>
            <fontSize>0.034</fontSize>
            <color>${menuGroupColor}</color>
            <separatorColor>${menuGroupSeparatorColor}</separatorColor>
            <backgroundColor>00000000</backgroundColor>
        </menuGroup>
        <menuText name="menutext">
            <fontPath>./_inc/fonts/Gilroy-Bold.ttf</fontPath>
            <fontSize>0.032</fontSize>
            <color>${menuTextColor}</color>
            <separatorColor>${menuTextSeparatorColor}</separatorColor>
            <selectedColor>${menuSelectedColor}</selectedColor>
            <selectorColor>${menuSelectorColor}</selectorColor>
        </menuText>
        <menuTextSmall name="menutextsmall">
            <fontPath>./_inc/fonts/Gilroy-Regular.ttf</fontPath>
            <fontSize>0.025</fontSize>
            <color>${menuTextColor}</color>
        </menuTextSmall>
        <menuText name="menufooter">
            <fontPath>./_inc/fonts/Gilroy-Regular.ttf</fontPath>
            <fontSize>0.024</fontSize>
            <color>${menuFooterColor}</color>
        </menuText>
        <menuTextEdit name="menutextedit">
            <inactive>./_inc/other/menu-textinput.png</inactive>
            <active>./_inc/other/menu-textinput-active.png</active>
        </menuTextEdit>
        <menuIcons name="menuicons">
            <iconSystem>./_inc/other/menu-icon-system.svg</iconSystem>
            <iconUpdates>./_inc/other/menu-icon-update.svg</iconUpdates>
            <iconControllers>./_inc/other/menu-icon-controller.svg</iconControllers>
            <iconGames>./_inc/other/menu-icon-games.svg</iconGames>
            <iconUI>./_inc/other/menu-icon-ui.svg</iconUI>
            <iconSound>./_inc/other/menu-icon-sound.svg</iconSound>
            <iconNetwork>./_inc/other/menu-icon-network.svg</iconNetwork>
            <iconScraper>./_inc/other/menu-icon-scraper.svg</iconScraper>
            <iconAdvanced>./_inc/other/menu-icon-advanced.svg</iconAdvanced>
            <iconQuit>./_inc/other/menu-icon-quit.svg</iconQuit>
            <iconRetroachievements>./_inc/other/menu-icon-achievements.svg</iconRetroachievements>
            <iconKodi>./_inc/other/menu-icon-kodi.svg</iconKodi>
            <iconRestart>./_inc/other/menu-icon-restart.svg</iconRestart>
            <iconShutdown>./_inc/other/menu-icon-shutdown.svg</iconShutdown>
            <iconFastShutdown>./_inc/other/menu-icon-shutdown.svg</iconFastShutdown>
        </menuIcons>
    </view>
</theme>
